/* .swiper-pagination {
  position: relative;
  top: 75%;
} */

.swiper-container {
  height: 520px;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
