.swiper-pagination {
  position: relative;
  top: 75%;
}

.swiper-container {
  height: 580px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
